{% extends 'base.html' %}
{% block content %}

    {% if not plants %}
        <p class="no-articles">No plants yet</p>
    {% endif %}

    <section id="catalogue">
        {% for plant in plants %}

            <div class="plant-card">
                <div class="image-wrap">
                    <img src="{{ plant.image_url }}"
                         alt="{{ plant.plant_type }}">
                </div>
                <h3>{{ plant.name }}</h3>
                <h1>{{ plant.description }}</h1>
                <div class="details-buttons">
                    <a href="{% url 'details-plant' pk=plant.pk %}" class="details-btn">Details</a>
                </div>
            </div>

        {% endfor %}
    </section>

{% endblock %}
