{% extends 'base.html' %}
{% block content %}

    <!-- Display paragraph: If there are no plants yet-->
    <p class="no-articles">No plants yet</p>
    <!-- Display div "plant" with information about every plant (if any)-->
    <section id="catalogue">
        <!-- first plant-->
        <div class="plant-card">
            <div class="image-wrap">
                <!-- plant image -->
                <img src="http://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-plants-rubber-tree-rubber-plant-ficus-elastica-small-plant-16969285337228.jpg?v=1634227743"
                     alt="Indoor Plants">
            </div>
            <!-- plant name -->
            <h3>RubberPlant</h3>
            <!-- plant description -->
            <h1>A rubber tree plant...</h1>
            <div class="details-buttons">
                <!-- plant details button -->
                <a href="#" class="details-btn">Details</a>
            </div>
        </div>
    </section>

{% endblock %}