{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}"/>
    <title>MyPlantApp</title>
</head>

<body>
<div id="box">
    <header>
        <h1><a class="index-navigation" href="{% url 'index' %}">MyPlants</a></h1>
        <nav>
            {% if not profile %}
                <a href="{% url 'create-profile' %}">Create Profile</a>
            {% else %}
                <a href="{% url 'catalogue' %}">Catalogue</a>
                <a href="{% url 'create-plant' %}">Create Plant</a>
                <a href="{% url 'details-profile' %}">Profile</a>
            {% endif %}
        </nav>
    </header>

    {% block content %}
        {# info here #}
    {% endblock %}

    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>

</div>
</body>
</html>